get-pip.py
test.py
env/
scripts/category.py
__pycache__
__pycache__/
_pycache_/
scripts/__pycache__/
scripts/_pycache_/
Исходники/
Результаты/
./get-pip.py
./test.py
./venv/
./env/
./Исходники/
./Результаты/
./scripts/category.py
./scripts/__pycache__/